
.cursor{
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--cursor);
    position: absolute;
    z-index: 1000;
    border-radius: 50%;
    box-shadow: 0px 2px 15px var(--cursor);
    pointer-events: none;
    cursor: none;
    display: flex;
    align-self: center;
    justify-content: center;
}
.cursor::after{
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0.97rem;
    height: 0.97rem;
    position: absolute;
    border: 7px solid var(--cursor);
    border-radius: 50%;
    opacity: .5;
    
}
.cursor-pointed{
    width:  0.9rem;
    height: 0.9rem;
    background-color: var(--cursor);
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    backdrop-filter: grayscale;
    transition: all 0.3s linear;
    pointer-events: none;
    cursor: none;
    mix-blend-mode: difference;
    transition-duration: 70ms;
    transition-timing-function: ease-out;
    display: flex;
    align-self: center;
    justify-content: center;
    
}

.cursor-pointed::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 7px solid var(--cursor);
    border-radius: 50%;
    opacity: .5;
    top: -9.1px;
    left: -9.1px;
    /* animation: cursorAnim3 .5s infinite alternate; */
}


.cursor-rectangle{
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid var(--cursor);
    position: absolute;
    background-color: var(--cursor);
    transform: translate(-50%,-50%);
    z-index: 1000;
    pointer-events: none;
    cursor: none;
    border-radius: 2px;
}
.cursor-rectangle::after{
     content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1rem;
    background-color: transparent;
    width: 0.6rem;
    height: 0.6rem;
    border: 2px solid var(--cursor);
    border-radius: 2px;
    z-index: 9;
}

/* rounded */
.cursor-rounded{
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--cursor);
    position: absolute;
    border-radius: 50% ;
    transform: translate(-50%,-50%);
    z-index: 1000;
    pointer-events: none;
    cursor: none;
    box-shadow: inset 0px 1px 10px var(--cursor);
}
.cursor-rounded::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1rem;
    background-color: var(--cursor);
    width: 3px;
    height: 3px;
    border-radius: 50%;

}



/* animation class */
.cursor.cursor-animate::after{
        animation: cursorAnim .5s  infinite;
}
.cursor-animate.cursor-pointed::after{
        animation: cursorAnim3 .5s infinite alternate;
}
.cursor-animate.cursor-rounded::after{
        animation: cursorAnim4 .5s forwards;
}
.cursor-animate.cursor-rectangle::after{
        animation: cursorAnim .5s forwards;
}


/*  cursor animation */

@keyframes cursorAnim {
    from {
        width: 1rem;
        height: 1rem;
        /* transform: scale(1); */
    }
    to {
        width: 2rem;
        height: 2rem;
        /* transform: scale(.7); */
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes cursorAnim4 {
    0% {
        top: 44%;
        left: 44%;
        transform: scale(1);
        opacity: 1;
    }
    50% {
        top: 44%;
        left: 44%;
        transform: translate(-50%,-50%);
        transform: scale(18);
        opacity: 0.5;
    }
    100% {
        top: 44%;
        left: 44%;
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes cursorAnim5 {
    0% {
        top: 0%;
        left: 0%;
        border: 2px solid var(--cursor);

        transform: scale(1);
        opacity: 1;
    }
    50% {

        top: 0;
        left: 0;
        border: 0.5rem solid var(--cursor);

        transform: translate(-50%,-50%);
        transform: scale(3);
        opacity: 0.5;
    }
    100% {
        top: 0%;
        left: 0%;
            border: 0.8rem solid var(--cursor);

        transform: scale(1);
        opacity: 0;
    }
}
